body {
	background-color: yellow;
	font-family: arial;

}

h1{
	font-family: cursive;
	text-align: center;
	margin-top: 50px;

}

.conteneur {
    display: flex;
}

.conteneur img {
    width: 200px;
    height: 200px;
}

.texte {
    margin-left: 20px; 
}

.premiere-lettre::first-letter {
    font-size: 3em; 
    float: left; 
    margin-right: 1px;
}
